@using Assignment_2_Matthew_Lane.Models
@model Assignment_2_Matthew_Lane.Models.FoodType

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: @Model.Name</h2>

@if (Model.Name == "Appetizers")
{
    <p>Appetizers: </p>
    <li>@Html.ActionLink("Bruchetta", "Appetizers", new { FoodType = @"Bruchetta" })</li>
    <li>@Html.ActionLink("Pot Stickers", "Appetizers", new { FoodType = @"Potstickers" })</li>
    <li>@Html.ActionLink("Nachos", "Appetizers", new { FoodType = @"Nachos" })</li>
}

@if (Model.Name == "Mains")
{
    <p>Mains: </p>
        <li>@Html.ActionLink("Bruchetta22", "Mains", new { FoodType = @"Bruchetta22" })</li>
        <li>@Html.ActionLink("Pot Stickers22", "Mains", new { FoodType = @"Potstickers22" })</li>
        <li>@Html.ActionLink("Nachos22", "Mains", new { FoodType = @"Nachos22" })</li>
}

@if (Model.Name == "Desserts")
{
    <p>Desserts: </p>
        <li>@Html.ActionLink("Bruchetta44", "Desserts", new { FoodType = @"Bruchetta44" })</li>
        <li>@Html.ActionLink("Pot Stickers44", "Desserts", new { FoodType = @"Potstickers44" })</li>
        <li>@Html.ActionLink("Nachos44", "Desserts", new { FoodType = @"Nachos44" })</li>
}