<!--
   Pictures of various foods generously donated by:    

   Image of sptring rolls ~ http://chinesefood.about.com/od/dimsumrecipes/r/springroll.htm
   Image of Nachos ~ https://www.youtube.com/watch?v=oAqm9hE7jrs
   Image of Sliders ~ http://www.americanlamb.com/app/uploads/2014/10/The-Country-Cat-Sliders.jpeg
   Image of Bruchetta ~ https://www.google.ca/search?q=google+images&espv=2&biw=1920&bih=935&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiO1t_v3ZTOAhVMyoMKHfiQCTwQ_AUIBigB#tbm=isch&q=Bruchetta&imgrc=KK0Prelglz9YXM%3A
   Image of Chicken ~ http://www.delish.com/cooking/g2047/restaurant-chicken/
   Image of Shrimp ~ https://www.google.ca/search?q=Restaurant+Mains&espv=2&biw=1920&bih=935&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiAjJmawJbOAhWFyoMKHeGWBLwQ_AUIBigB#tbm=isch&q=Restaurant+Food&imgrc=UPoVJauEVle5DM%3A
   Image of Pizza ~ https://www.pexels.com/search/restaurant/
   Image of Wings ~ https://www.google.ca/search?q=Restaurant+Mains&espv=2&biw=1920&bih=935&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiAjJmawJbOAhWFyoMKHeGWBLwQ_AUIBigB#tbm=isch&q=Restaurant+Food&imgrc=GxBgqfm_cV3yWM%3A
   Image of Pecan Pie ~ https://www.google.ca/search?q=google+images+desserts&espv=2&biw=1920&bih=935&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiTrtTL65bOAhWB6YMKHQU_DrcQ_AUIBigB#tbm=isch&q=Pecan+Pie+restaurant&imgrc=bod-YS9t7qbQLM%3A
   Image of Cheesecake ~ https://www.google.ca/search?q=google+images+desserts&espv=2&biw=1920&bih=935&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiTrtTL65bOAhWB6YMKHQU_DrcQ_AUIBigB#tbm=isch&q=Cheesecake+restaruant&imgrc=klw-CPP9rprwMM%3A
   Image of Lava cake ~ https://www.google.ca/search?q=google+images+desserts&espv=2&biw=1920&bih=935&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiTrtTL65bOAhWB6YMKHQU_DrcQ_AUIBigB#imgrc=TU_j2Q33zI5u7M%3A

   Image of front of restaraunt ~ https://www.google.ca/search?q=Restaraunt&espv=2&biw=1920&bih=979&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjN4eOq8pbOAhVn64MKHa68AL4Q_AUIBygC#tbm=isch&q=Restaraunt+fine+dining+outside&imgrc=GjQlJ4bhuTQBxM%3A
-->


@using Assignment_2_Matthew_Lane.Models
@model Assignment_2_Matthew_Lane.Models.FoodType

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: @Model.Name</h2>

@if (Model.Name == "Appetizers")
{
    <h3>Appetizers: </h3>
    <!--This line sends ca call to MenuController -> Details and passes in Bruchetta-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Bruchetta" })"> <img src="@Url.Content("~/Assets/Images/Bruschetta_Thumb.jpg")" alt="Home" /></a>
    <p>Bruchetta!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Sliders-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Sliders" })"> <img src="@Url.Content("~/Assets/Images/Sliders_Thumb.jpg")" alt="Home" /></a>
    <p>Lamb Sliders!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Nachos-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Nachos" })"> <img src="@Url.Content("~/Assets/Images/Nachos_Thumb.jpg")" alt="Home" /></a>
    <p>Nachos!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Springroll-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Springrolls" })"> <img src="@Url.Content("~/Assets/Images/Springroll_Thumb.jpg")" alt="Home" /></a>
    <p>Spring Rolls!</p>
}

@if (Model.Name == "Mains")
{
    <h3>Mains: </h3>
    <!--This line sends ca call to MenuController -> Details and passes in Bruchetta-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Chicken" })"> <img src="@Url.Content("~/Assets/Images/Chicken_Thumb.jpg")" alt="Home" /></a>
    <p>Roast Chicken!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Sliders-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Steak" })"> <img src="@Url.Content("~/Assets/Images/Steak_Thumb.jpg")" alt="Home" /></a>
    <p>Grilled flank steak!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Nachos-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Shrimp" })"> <img src="@Url.Content("~/Assets/Images/Shrimp_Thumb.jpg")" alt="Home" /></a>
    <p>Shrimp with rice!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Springroll-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Pizza" })"> <img src="@Url.Content("~/Assets/Images/Pizza_Thumb.jpg")" alt="Home" /></a>
    <p>Pizza!</p>
     <!--This line sends ca call to MenuController -> Details and passes in Springroll-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Wings" })"> <img src="@Url.Content("~/Assets/Images/Wings_Thumb.jpg")" alt="Home" /></a>
    <p>Wings!</p>
}

@if (Model.Name == "Desserts")
{
    <h3>Desserts: </h3>
    <!--This line sends ca call to MenuController -> Details and passes in Bruchetta-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Cheesecake" })"> <img src="@Url.Content("~/Assets/Images/Cheesecake_Thumb.jpg")" alt="Home" /></a>
    <p>Cheesecake!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Nachos-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "PecanPie" })"> <img src="@Url.Content("~/Assets/Images/PecanPie_Thumb.jpg")" alt="Home" /></a>
    <p>Pecan pie!</p>
    <!--This line sends ca call to MenuController -> Details and passes in Springroll-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = "Icecream" })"> <img src="@Url.Content("~/Assets/Images/Icecream_Thumb.jpg")" alt="Home" /></a>
    <p>Icecream!</p>
}