<!--

  Author : Matthew Lane
  File Name : Menu/Details.cshtml
  Website Name : Assignment_2_The_Bear_Den_Restaraunt
  File Description : This is the details page, used to view a list of food items

-->


@model Assignment_2_Matthew_Lane.Models.FoodType

@{
    ViewBag.Title = "Details";
}

<h2>Appetizer: @Model.Name</h2>

@switch (Model.Name)
{

    //Appetizers
    case "Bruchetta":
        <img src="@Url.Content("~/Assets/Images/Bruschetta_Full.jpg")" alt="IMAGES" />
        <p> Our classic bruchetta is chopped tomatoes, onions, basil and olive oil piled on a toasted baugette. </p>
        <p>$5.00</p>
        break;

    case "Sliders":
        <img src="@Url.Content("~/Assets/Images/Sliders_Full.jpg")" alt="IMAGES" />
        <p> Our lamb sliders are made of ground milk fed lamb, topped with spinich and greens, mozzerella and smoked bacon. </p>
        <p>$6.00</p>
        break;

    case "Nachos":
        <img src="@Url.Content("~/Assets/Images/Nachos_Full.jpg")" alt="IMAGES" />
        <p> Perfect for sharing! Our Nachos are pilled high with cheese, onion ground beef, tomatoes, peppers and house made salsa. </p>
        <p>$10.00</p>
        break;

    case "Springrolls":
        <img src="@Url.Content("~/Assets/Images/SpringRoll_Full.jpg")" alt="IMAGES" />
        <p> Pork stuffed thai springrolls, served with a house made soy sauce dipping sauce. </p>
        <p>$5.00</p>
        break;

    //Mains
    case "Chicken":
        <img src="@Url.Content("~/Assets/Images/Chicken_Full.jpg")" alt="IMAGES" />
        <p> A roast breast of seasoned, grain fed chicken, served wih a orange and citrus sauce.  </p>
        <p>$15.00</p>
        break;

    case "Steak":
        <img src="@Url.Content("~/Assets/Images/Steak_Full.jpg")" alt="IMAGES" />
        <p> A grilled pepper flank steak, served with roasted seasonal vegitables. </p>
        <p>$18.00</p>
        break;

    case "Shrimp":
        <img src="@Url.Content("~/Assets/Images/Shrimp_Full.jpg")" alt="IMAGES" />
        <p> Jumbo marinated shimp, in a coconut curry sauce, served with wild rice.  </p>
        <p>$10.00</p>
        break;

    case "Pizza":
        <img src="@Url.Content("~/Assets/Images/Pizza_Full.jpg")" alt="IMAGES" />
        <p> House made pizza dough and sauce, topped with fresh mozzerella and your choice of toppings.  </p>
        <p>$10.00</p>
        break;

    case "Wings":
        <img src="@Url.Content("~/Assets/Images/Wings_Full.jpg")" alt="IMAGES" />
        <p> Delicious chicken wings, topped with your choice of our house made sauces. </p>
        <p>$8.00</p>
        break;

    //Desserts
    case "Cheesecake":
        <img src="@Url.Content("~/Assets/Images/Cheesecake_Full.jpg")" alt="IMAGES" />
        <p> Delicious house made cheesecake, topped with your choice of strawberry, or blueberry sauces.   </p>
        <p>$6.00</p>
        break;

    case "PecanPie":
        <img src="@Url.Content("~/Assets/Images/PecanPie_Full.jpg")" alt="IMAGES" />
        <p> House made Pecan Pie, sweet, crunchy, and delicious. Just like mom used to make.  </p>
        <p>$4.00</p>
        break;

    case "Icecream":
        <img src="@Url.Content("~/Assets/Images/Icecream_Full.jpg")" alt="IMAGES" />
        <p> House made Ice cream, 2 scoops, one of vanilla and one of chocolate. </p>
        <p>$4.00</p>
        break;
}